/* Styles de base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}


/* En-tête et navigation */
header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right; /* Aligner les éléments à droite */
}

nav ul li {
    display: inline;
    margin-left: 15px; /* Ajuster l'espacement à gauche cette fois */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Sections */
section {
    padding: 2rem;
    text-align: center;
}

#about {
    background: url('about-background.jpg') no-repeat center center/cover;
    color: #fff;
}

#menu, #reservation {
    background-color: #fff;
    margin-top: 1rem;
}

/* Formulaire de réservation */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

form input, form button {
    padding: 0.5rem;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Pied de page */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}
